<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address Details</title>
    <link rel="stylesheet" href="{% static 'address.css' %}">
</head>
<body class="body">
    
    <div class="cart">
        <h2 class="title">Address Information</h2>
        <div>
            <p class="only"> User: {{ address.user.username }}</p>
            <p class="only"> Street Address: {{ address.street_address }}</p>
            <p class="only"> Phone Number: {{ address.phone_number }}</p>
            <p class="only"> State: {{ address.state }}</p>
            <p class="only"> City: {{ address.city }}</p>
            <p class="only"> Country: {{ address.country }}</p>
            <p class="only"> Postal Code: {{ address.postal_code }}</p>
            <p class="only"> Directions: {{ address.directions }}</p>
        </div>
    </div>
    
</body>
</html>
