{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Confirmation</title>
    <link rel="stylesheet" href="{% static 'css/confirm.css' %}">
</head>
<body class="body">
    <div class="cart">
    <form id="paymentForm">
        <h1>Confirm Your Payment</h1>
        <input class="status" type="hidden" name="o_id" value="{{ order_id }}">
        <input class="status" type="hidden" name="status" value="successful">
        <input class="status" type="hidden" name="tx_ref" value="{{ tx_ref }}">
        <input class="status" type="hidden" name="transaction_id" value="{{ transaction_id }}">
        <button id="confirmBtn" type="submit">Confirm Payment</button>
    </form>
</div>
    <script src="{% static 'js/confirm.js' %}"></script>
</body>
</html>
