{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>Signup</title>
</head>
<body class="body">

    <div class="cart">
        <form action="{% url 'signup' %}" method="POST">
            {% csrf_token %}
            <h3 class="header">Signup Here</h3>

            <div class="l">
                <label class="lab" for="username">Username</label>
                <input class="inp" type="text" name="username" id="username" placeholder="Enter your username here">
            </div>

            <div class="l">
                <label class="lab" for="email">Email</label>
                <input class="inp" type="email" name="email" id="email" placeholder="Enter your email address here">
            </div>

            <div class="l">
                <label class="lab" for="password1">Password</label>
                <input class="inp" type="password" name="password1" id="password1" placeholder="Enter your password here">
            </div>

            <div class="l">
                <label class="lab" for="password2">Confirm Password</label>
                <input class="inp" type="password" name="password2" id="password2" placeholder="Confirm your password">
            </div>

            <button class="butt" type="submit">Signup</button>
            
            <a href="">
                <p class="mt">I already have an account</p>
            </a>
        </form>
    </div>

</body>
</html>
